.faq-page {
  margin-bottom: var(--mb-large);
}

.accordion {
  margin: 0 auto var(--mb-small);
  width: 80%;
}
.accordion__item {
  margin-bottom: var(--mb-small);
}

.accordion__title,
.accordion__inner {
  padding: 1rem 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  line-height: 150%;
  color: var(--element-bg-color);
}
.accordion__title {
  font-size: clamp(0.875rem, 0.7679rem + 0.5357vw, 1.25rem);
}

.accordion__inner {
  display: none;
}

.accordion__inner.active {
  display: block;
}

.accordion__inner span {
  display: inline-block;
  padding: 0.3rem 2rem;
}

.accordion__item-inner {
  position: relative;
}

.accordion__title:focus,
.accordion__item-inner i:focus {
  background-color: var(--active-color);
  color: var(--element-text-color);
}

.accordion__item-inner i {
  position: absolute;
  top: 50%;
  right: 2rem;
  z-index: 10;
  transform: translateY(-50%);
}

/* Tablet */
@media (max-width: 48rem) {
  .accordion {
    width: 85%;
  }
}